<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <!-- Added for styling -->
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}" />
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

    {% block stylesheets %}

    {% endblock %}
    <!-- JQuery and Javascript -->
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/additional-methods.min.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>


</head>

<body>

<nav class="navbar navbar-dark navbar-expand-md">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">
            <img src="{{ asset('images/logo.png') }}" alt="Saskatoon Summer Players">
        </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="nav navbar-nav mr-auto">
            <li class="nav-item" id="homeNav"><a class="nav-link px-3" href="/">Home</a></li>
            <li class="nav-item" id="showsNav"><a class="nav-link px-3" href="{{ path('show_index') }}">Our Shows</a></li>
            <li class="nav-item" id="newsNav"><a class="nav-link px-3" href="#">Newsletter</a></li>
            <li class="nav-item" id="aboutNav"><a id="aboutus" class="nav-link px-3" href="{{ path('about_us') }}">Board Members</a></li>
            <li class="nav-item" id="contactNav"><a id="contactus" class="nav-link px-3" href="{{ path('contactSSP') }}">Contact Us</a></li>

            <!-- Dynamic drop-down menu that shows items based on the logged-in user's permissions -->
            {% if app.user %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle px-3" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% if is_granted("ROLE_BM") %}
                            Administration Panel
                        {% else %}
                            Member Panel
                        {% endif %}
                    </a>
                    <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">

                        {% if is_granted('ROLE_GM') %}
                            <h5 class="dropdown-header">General Manager</h5>
                            <a class="dropdown-item" id="editShows" href="{{ path('edit_index') }}">Edit Shows</a>
                            <a class="dropdown-item" id="SuggestShows" href="{{  path('suggested_show_index') }}">Suggested Shows</a>
                            <a class="dropdown-item" id="searchMembers" href="{{ path('member_search') }}">Search for Members</a>
                            <div class="dropdown-divider"></div>
                        {% endif %}

                        {% if is_granted("ROLE_BM") %}
                            <h5 class="dropdown-header">Board Member</h5>
                            <a class="dropdown-item" id="onlinePoll" href="{{ path('online_poll_index') }}">View and Edit Polls</a>
                            <a class="dropdown-item" id="auditionList" href="{{ path('audition_interest_list') }}">View Audition Interest</a>
                            <div class="dropdown-divider"></div>
                            <h5 class="dropdown-header">Member</h5>
                        {% endif %}

                        <a id="volunteer" class="dropdown-item" href="{{ path('member_volunteer_new') }}">Volunteer</a>
                        <a id="updateProfile" class="dropdown-item" href="{{ path('member_edit', {id: app.user.id}) }}">Update Profile</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item" id="regNav"><a class="nav-link  px-3" href="{{ path('member_new') }}">Become a Member</a></li>
            {% endif %}

            <div class="dropdown-divider"></div>

            <!-- Login buttons for mobile users -->
            <li class="nav-item">
                <div id="login-mobile" class="d-block d-sm-block d-md-none d-lg-none d-xl-none">
                    {% if app.user %}
                        <a class="btn navbar-btn btn-primary" id="logoutButton" name="logoutButton"
                           href="{{ path('logout') }}">Logout <i class="fas fa-sign-out-alt"></i></a>
                    {% else %}
                        <a class="btn navbar-btn btn-primary" id="loginButton" name="loginButton"
                           href="{{ path('login') }}">Login <i class="fas fa-sign-in-alt"></i></a>
                    {% endif %}
                </div>
            </li>
        </ul>
    </div>
    <!-- Check if the user is logged in and display the appropriate log in or log out button (desktop)-->
    <div id="login-desktop" class="d-none d-md-block d-lg-block d-xl-block">
        {% if app.user %}
            <a class="btn navbar-btn btn-primary" id="logoutButton" name="logoutButton"
               href="{{ path('logout') }}">Logout <i class="fas fa-sign-out-alt"></i></a>
        {% else %}
            <a class="btn navbar-btn btn-primary" id="loginButton" name="loginButton"
               href="{{ path('login') }}">Login <i class="fas fa-sign-in-alt"></i></a>
        {% endif %}
    </div>
</nav>

{% block body %}
{% endblock %}

{#Footer#}
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4 text-center">
                <div>&copy; 2019 Saskatoon Summer Players</div>
                <div>Site design by Project Team 4</div>
            </div>
            <div class="col-lg-4 text-center">
                <a id="twitter" class="pr-3" href="https://twitter.com/saskatoonsummer" target="_blank"><i class="fab fa-twitter-square"></i></a>
                <a id="facebook" class="pr-3" href="https://www.facebook.com/SaskatoonSummerPlayers" target="_blank"><i class="fab fa-facebook-square"></i></a>
                <a id="donate" class="pr-3" href="https://www.canadahelps.org/en/dn/12346"> <img src="{{ asset('images/canadahelps-logo-thumbnail.png') }}"/></a>
            </div>
        </div>
    </div>
</footer>
{% block javascripts %}

{% endblock %}
</body>

</html>

