<div class="container">
    {{ form_start(form, {'attr': {'id': 'memberReg'}} ) }}
    <script>
        function focusPhonePrefix(id) {
            var phone = document.getElementById(id);

            if (phone.value.length === 0) {
                phone.value = '(';
            }
        }

        function blurPhonePrefix(id) {
            var phone = document.getElementById(id);

            if (phone.value === '(') {
                phone.value = '';
            }
        }

        function keyPress(e, id) {
            var phone = document.getElementById(id);

            if (phone.value.length === 0) {
                phone.value = '(';
            } else {
                var prefix = phone.value.slice(0, 1);
                if (prefix !== '(') {
                    phone.value = '(' + phone.value;
                }
            }

            if (e.key !== "Backspace") {
                if (phone.value.length === 4) {
                    phone.value = phone.value + ')';
                }
                if (phone.value.length === 5) {
                    phone.value = phone.value + ' ';
                }
                if (phone.value.length === 9) {
                    phone.value = phone.value + '-';
                }
            }
        }
    </script>

    <div class ="row justify-content-center">
        <div class="col-sm-12">
            <div class="card m-0" id="mainCard">
                <h2 class="card-header text-sm-left text-xs-left">Basic Information</h2>
                <div class="card-body">

                    <div class="row">
                        <div class="col-xs-12 col-sm-4 text-sm-right">
                            <div class="form-group">
                                {{ form_label(form.memberType, null, {
                                    'label': 'Member Type'
                                }) }}
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                {{ form_widget(form.memberType, {'attr': {'class': 'form-control'}}) }}
                                {% for errorItem in form.memberType.vars.errors %}
                                    <div class="alert alert-danger">{{ errorItem.message }}</div>
                                {% endfor %}
                            </div>
                            <div class="container">
                                <ul>
                                    <li>Individual: $20 CAD</li>
                                    <li>Family: $30 CAD</li>
                                </ul>
                            </div>
                        </div>

                    </div>{# MemberType Row end #}

                    <div class="row">
                        <div class="col-xs-12 col-sm-4 text-sm-right">
                            <div class="form-group">
                                {{ form_label(form.memberOption, null, {
                                    'label': 'Membership Option'
                                }) }}
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                {{ form_widget(form.memberOption, {'attr': {'class': 'form-control'}}) }}
                                {% for errorItem in form.memberOption.vars.errors %}
                                    <div class="alert alert-danger">{{ errorItem.message }}</div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>{# MemberOption Row end #}

                    <div class="row">
                        <div class="col-xs-12 col-sm-4 text-sm-right">
                            <div class="form-group">
                                {{ form_label(form.userName, null, {
                                    'label': 'Email'
                                }) }}
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                {{ form_widget(form.userName, {'attr': {'class': 'form-control'}}) }}
                                {% for errorItem in form.userName.vars.errors %}
                                    <div class="alert alert-danger">{{ errorItem.message }}</div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>{# Email/userName Row end #}

                    <div class="row">
                        <div class="col-xs-12 col-sm-4 text-sm-right">
                            <div class="form-group">
                                {{ form_label(form.firstName, null, {
                                    'label': 'First Name'
                                }) }}
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
                                {% for errorItem in form.firstName.vars.errors %}
                                    <div class="alert alert-danger">{{ errorItem.message }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>{# First Name Row end #}

                    <div class="row">
                        <div class="col-xs-12 col-sm-4 text-sm-right">
                            <div class="form-group">
                                {{ form_label(form.lastName, null, {
                                    'label': 'Last Name'
                                }) }}
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
                                {% for errorItem in form.lastName.vars.errors %}
                                    <div class="alert alert-danger">{{ errorItem.message }}</div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>{# Last Name Row end #}

                    <div class="row">
                        <div class="col-xs-12 col-sm-4 text-sm-right">
                            <div class="form-group">
                                {{ form_label(form.password.first, null, {
                                    'label': 'Password'
                                }) }}
                            </div>
                        </div>
                        <div class=" password col-xs-12 col-sm-6">

                            <div class="form-group">
                                    {{ form_widget(form.password.first, {'attr': {'class': 'form-control'}}) }}
                                {% for errorItem in form.password.first.vars.errors %}
                                    <div class="alert alert-danger">{{ errorItem.message }}</div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-xs-1">

                            <i id="member_passwordFirstBtn" class="fas fa-eye fa-1x pt-2 pl-1"></i>
                        </div>
                    </div>{# Password Row end #}

                    <div class="row">
                        <div class="col-xs-12 col-sm-4 text-sm-right">
                            <div class="form-group">
                                {{ form_label(form.password.second, null, {
                                    'label': 'Repeat Password'
                                }) }}
                            </div>
                        </div>
                        <div class=" password col-xs-12 col-sm-6">

                            <div class="form-group">
                                {{ form_widget(form.password.second, {'attr': {'class': 'form-control'}}) }}
                                {% for errorItem in form.password.second.vars.errors %}
                                    <div class="alert alert-danger">{{ errorItem.message }}</div>
                                {% endfor %}
                            </div>

                        </div>
                        <div class="col-xs-1">

                            <i id="member_passwordSecondBtn" class="fas fa-eye fa-1x pt-2 pl-1"></i>
                        </div>
                    </div>{# Repeate Password Row end #}

               </div>{# This is the first Card Body#}

                <h2 class="card-header text-sm-left text-xs-left">Billing Information</h2>
                <div class="card-body">

                    <div class="row">
                        <div class="col-xs-12 col-sm-4 text-sm-right">
                            <div class="form-group">
                                {{ form_label(form.addressLineOne, null, {
                                    'label': 'Address Line One'
                                }) }}
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                {{ form_widget(form.addressLineOne, {'attr': {'class': 'form-control'}}) }}
                                {% for errorItem in form.addressLineOne.vars.errors %}
                                    <div class="alert alert-danger">{{ errorItem.message }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>{# Address Line One Row end #}

                    <div class="row">
                        <div class="col-xs-12 col-sm-4 text-sm-right">
                            <div class="form-group">
                                {{ form_label(form.addressLineTwo, null, {
                                    'label': 'Address Line Two (Optional)'
                                }) }}
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                {{ form_widget(form.addressLineTwo, {'attr': {'class': 'form-control'}}) }}
                                {% for errorItem in form.addressLineTwo.vars.errors %}
                                    <div class="alert alert-danger">{{ errorItem.message }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>{# Address Line Two Row end #}

                    <div class="row">
                        <div class="col-xs-12 col-sm-4 text-sm-right">
                            <div class="form-group">
                                {{ form_label(form.city, null, {
                                    'label': 'City'
                                }) }}
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                {{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
                                {% for errorItem in form.city.vars.errors %}
                                    <div class="alert alert-danger">{{ errorItem.message }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>{# City Row end #}

                    <div class="row">
                        <div class="col-xs-12 col-sm-4 text-sm-right">
                            <div class="form-group">
                                {{ form_label(form.postalCode, null, {
                                    'label': 'Postal Code'
                                }) }}
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                {{ form_widget(form.postalCode, {'attr': {'class': 'form-control'}}) }}
                                {% for errorItem in form.postalCode.vars.errors %}
                                    <div class="alert alert-danger">{{ errorItem.message }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>{# Postal Code Row end #}

                    <div class="row">
                        <div class="col-xs-12 col-sm-4 text-sm-right">
                            <div class="form-group">
                                {{ form_label(form.province, null, {
                                    'label': 'Province'
                                }) }}
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                {{ form_widget(form.province, {'attr': {'class': 'form-control'}}) }}
                                {% for errorItem in form.province.vars.errors %}
                                    <div class="alert alert-danger"> {{ errorItem.message }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>{# Province Row end #}

                    <div class="row">
                        <div class="col-xs-12 col-sm-4 text-sm-right">
                            <div class="form-group">
                                {{ form_label(form.company, null, {
                                    'label': 'Company (Optional)'
                                }) }}
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                {{ form_widget(form.company, {'attr': {'class': 'form-control'}}) }}
                                {% for errorItem in form.company.vars.errors %}
                                    <div class="alert alert-danger">{{ errorItem.message }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>{# Company Row end #}

                    <div class="row">
                        <div class="col-xs-12 col-sm-4 text-sm-right">
                            <div class="form-group">
                                {% set member_phone  %}
                                    {{ 'member_phone' }}
                                {% endset %}
                                {{ form_label(form.phone, null, {
                                    'label': 'Phone (Optional)'
                                }) }}
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">

                                {{ form_widget(form.phone, {'attr': {
                                    'class': 'form-control',
                                    'onfocus': 'focusPhonePrefix("member_phone")',
                                    'onblur':'blurPhonePrefix("member_phone")',
                                    'onkeypress':'keyPress(event, "member_phone")',
                                    'maxlength':14 }}) }}
                                {% for errorItem in form.phone.vars.errors %}
                                    <div class="alert alert-danger">{{ errorItem.message }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>{# Phone Row end #}


                    <div class="row">
                        <div class="col-xs-12 col-sm-4 text-sm-right">
                            <div class="form-group">
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label>
                                <span class="float-right">I agree to the <a href="{{ path('document_show', {'id': 1}) }}" id="TermsAndConditions" target="_blank">Terms and Conditions</a></span>
                                    {{ form_widget(form.membershipAgreement, {'attr': {'class': ''}}) }}
                                </label>
                                {% for errorItem in form.membershipAgreement.vars.errors %}
                                    <div class="alert alert-danger">{{ errorItem.message }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>{# MemberShip Agreement Row end #}

                    <div class="row">
                        <div class="col-xs-12 col-sm-4 text-sm-right">
                            <div class="form-group">
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label>
                                    <span class="float-right">I agree to a <a href="{{ path('document_show', {'id': 2}) }}" id="CriminalRecordCheck" target="_blank">Criminal Record/Vulnerable Persons Check.</a></span>
                                    {{ form_widget(form.criminalRecord, {'attr': {'class': ''}}) }}
                                </label>
                                {% for errorItem in form.criminalRecord.vars.errors %}
                                    <div class="alert alert-danger">{{ errorItem.message }}</div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>{# Criminal Record/Vulnerable Persons Row end #}

                    <div class="row">
                        <div class="col-xs-12 col-sm-4 text-sm-right">
                            <div class="form-group">
                                <label for="card-element">
                                    Credit or debit card
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <div id="card-element">
                                    <!-- A Stripe Element will be inserted here. -->
                                </div>

                                <!-- Used to display form errors. -->
                                <div id="card-errors" class="alert"></div>
                            </div>
                        </div>
                    </div>
    <style>
        /**
     * The CSS shown here will not be introduced in the Quickstart guide, but shows
     * how you can use CSS to style your Element's container.
     */
        .StripeElement {
            box-sizing: border-box;

            height: 40px;

            padding: 10px 12px;

            border: 1px solid transparent;
            border-radius: 4px;
            background-color: white;

            box-shadow: 0 1px 3px 0 #e6ebf1;
            -webkit-transition: box-shadow 150ms ease;
            transition: box-shadow 150ms ease;
        }

        .StripeElement--focus {
            box-shadow: 0 1px 3px 0 #cfd7df;
        }

        .StripeElement--invalid {
            border-color: #fa755a;
        }

        .StripeElement--webkit-autofill {
            background-color: #fefde5 !important;
        }
    </style>

    <script>
        // Create a Stripe client.
        var stripe = Stripe('{{ STRIPE_PK }}');

        // Create an instance of Elements.
        var elements = stripe.elements();

        // Custom styling can be passed to options when creating an Element.
        // (Note that this demo uses a wider set of styles than the guide below.)
        var style = {
            base: {
                color: '#32325d',
                fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
                fontSmoothing: 'antialiased',
                fontSize: '16px',
                '::placeholder': {
                    color: '#aab7c4'
                }
            },
            invalid: {
                color: '#fa755a',
                iconColor: '#fa755a'
            }
        };

        // Create an instance of the card Element.
        var card = elements.create('card', {hidePostalCode: true, style: style});

        // Add an instance of the card Element into the `card-element` <div>.
        card.mount('#card-element');

        // Handle real-time validation errors from the card Element.
        card.addEventListener('change', function(event) {
            var displayError = document.getElementById('card-errors');
            if (event.error) {
                displayError.setAttribute("class", "alert alert-danger");
                displayError.textContent = event.error.message;
            } else {
                displayError.textContent = '';
                displayError.setAttribute("class", "alert");
            }
        });

        // Handle form submission.
        var form = document.getElementById('memberReg');
        form.addEventListener('submit', function(event) {
            event.preventDefault();

            stripe.createToken(card).then(function(result) {
                if (result.error) {
                    // Inform the user if there was an error.
                    var errorElement = document.getElementById('card-errors');

                    errorElement.textContent = result.error.message;
                } else {
                    // Send the token to your server.
                    stripeTokenHandler(result.token);
                }
            });
        });

        // Submit the form with the token ID.
        function stripeTokenHandler(token) {
            // Insert the token ID into the form so it gets submitted to the server
            //Set the value of the hidden Stripe token.
            var stripeTokenElement = document.getElementById('member_stripeToken');
            stripeTokenElement.value = token.id;

            // Submit the form
            form.submit();
        }
    </script>
    {% if isInvalid and form.vars.submitted %}
        <div class="alert alert-danger">Sorry there was a problem with your payment. Please try again.</div>
    {% endif %}
            <div class="row">
                <div class="col-xs-12 col-sm-4 text-sm-right">
                    <div class="form-group">

                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary mx-auto btn-lg" id="submitButton">Submit Payment</button>
                    </div>
                </div>
            </div>

                    {{ form_end(form) }}
                </div> {# This is Second Card Body#}
            </div>{# Card #}
        </div>{# Columns #}
    </div> {# Row container #}
</div>{# Main container#}

