{% block body %}

    <div class="container">
        {{ form_start(form, {'attr': {'id': 'updateForm'}}) }}
        <script>
            function focusPhonePrefix(id) {
                var phone = document.getElementById(id);

                if (phone.value.length === 0) {
                    phone.value = '(';
                }
            }

            function blurPhonePrefix(id) {
                var phone = document.getElementById(id);

                if (phone.value === '(') {
                    phone.value = '';
                }
            }

            function keyPress(e, id) {
                var phone = document.getElementById(id);
                if (phone.value.length === 0) {
                    phone.value = '(';
                } else {
                    var prefix = phone.value.slice(0, 1);
                    if (prefix !== '(') {
                        phone.value = '(' + phone.value;
                    }
                }

                if (e.key !== "Backspace") {
                    if (phone.value.length === 4) {
                        phone.value = phone.value + ')';
                    }
                    if (phone.value.length === 5) {
                        phone.value = phone.value + ' ';
                    }
                    if (phone.value.length === 9) {
                        phone.value = phone.value + '-';
                    }
                }
            }
        </script>
        <div class="row justify-content-center">
            <div class="col-sm-12">
                <div class="card" id="mainCard">
                    <h2 class="card-header text-sm-left text-xs-left">Update Profile</h2>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 text-sm-right">
                                <div class="form-group">
                                    {{ form_label(form.firstName) }}
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
                                    {% for errorItem in form.firstName.vars.errors %}
                                        <div class="alert alert-danger">{{ errorItem.message }}</div>
                                    {% endfor %}
                                    {#{{ form_errors(form.firstName, {'attr': {'class': 'form-error'}}) }}#}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 text-sm-right">
                                <div class="form-group">
                                    {{ form_label(form.lastName) }}
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
                                    {% for errorItem in form.lastName.vars.errors %}
                                        <div class="alert alert-danger">{{ errorItem.message }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 text-sm-right">
                                <div class="form-group">
                                    {{ form_label(form.userName) }}
                                </div>

                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    {{ form_widget(form.userName, {'attr': {'class': 'form-control'}}) }}
                                    {% for errorItem in form.userName.vars.errors %}
                                        <div class="alert alert-danger">{{ errorItem.message }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 text-sm-right">
                                <div class="form-group">
                                    {% set member_phone  %}
                                        {{ 'member_phone' }}
                                    {% endset %}
                                    {{ form_label(form.phone) }}
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    {{ form_widget(form.phone, {'attr': {
                                        'class': 'form-control',
                                        'onfocus': 'focusPhonePrefix("member_update_phone")',
                                        'onblur':'blurPhonePrefix("member_update_phone")',
                                        'onkeypress':'keyPress(event, "member_update_phone")',
                                        'maxlength':14,

                                    }}) }}
                                    {% for errorItem in form.phone.vars.errors %}
                                        <div class="alert alert-danger">{{ errorItem.message }}</div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 text-sm-right">
                                <div class="form-group">
                                    {{ form_label(form.addressLineOne) }}
                                </div>

                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    {{ form_widget(form.addressLineOne, {'attr': {'class': 'form-control'}}) }}
                                    {% for errorItem in form.addressLineOne.vars.errors %}
                                        <div class="alert alert-danger">{{ errorItem.message }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 text-sm-right">
                                <div class="form-group">
                                    {{ form_label(form.addressLineTwo) }}
                                </div>

                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    {{ form_widget(form.addressLineTwo, {'attr': {'class': 'form-control'}}) }}
                                    {% for errorItem in form.addressLineTwo.vars.errors %}
                                        <div class="alert alert-danger">{{ errorItem.message }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 text-sm-right">
                                <div class="form-group">
                                    {{ form_label(form.province) }}
                                </div>

                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    {{ form_widget(form.province, {'attr': {'class': 'form-control'}}) }}
                                    {% for errorItem in form.province.vars.errors %}
                                        <div class="alert alert-danger">{{ errorItem.message }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-4 text-sm-right">
                                <div class="form-group">
                                    {{ form_label(form.city) }}
                                </div>

                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    {{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
                                    {% for errorItem in form.city.vars.errors %}
                                        <div class="alert alert-danger">{{ errorItem.message }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-4 text-sm-right">
                                <div class="form-group">
                                    {{ form_label(form.postalCode) }}
                                </div>

                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    {{ form_widget(form.postalCode, {'attr': {'class': 'form-control'}}) }}
                                    {% for errorItem in form.postalCode.vars.errors %}
                                        <div class="alert alert-danger">{{ errorItem.message }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-4 text-sm-right">
                                <div class="form-group">
                                    {{ form_label(form.company) }}
                                </div>

                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    {{ form_widget(form.company, {'attr': {'class': 'form-control'}}) }}
                                    {% for errorItem in form.company.vars.errors %}
                                        <div class="alert alert-danger">{{ errorItem.message }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-4 text-sm-right">
                                <div class="form-group">

                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                <button type="submit" class="col-sm-3 btn btn-primary mx-auto btn-lg" id="updateButton">Update</button>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    </div>

{{ form_end(form) }}
{% endblock %}

