{% extends 'base.html.twig' %}
{% block title %}Edit Member{% endblock %}

{% block body %}
{#<h1>Edit Personal Information</h1>#}
{{ include('member/_form_update.html.twig') }}
{#<a href="{{ path('member_index') }}">back to list</a>#}
{#{{ include('member/_delete_form.html.twig') }}#}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/edit_member.js') }}"></script>
{%  endblock %}