{% extends 'base.html.twig' %}

{% block title %}New Member{% endblock %}

{% block body %}

    <div class="jumboContainer">
        <div class="jumbotron jumbotron-fluid">
            <div class="jumboText">
                <h1>Member Registration</h1>
            </div>
        </div>
    </div>
    <div class="container">

        {#<h1 class="text-center p-4">Member Registration</h1>#}
        {{ include('member/_form.html.twig') }}
    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/new_member_validation.js') }}"></script>
    <script src="{{ asset('js/new_member_password_eye.js') }}"></script>

{%  endblock %}

