{% extends 'base.html.twig' %}
{% block title %}Edit index{% endblock %}

{% block body %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-xs-12">
            <h1 class="currentStatus text-center">Editable Shows</h1>
        </div>
    </div>

    <div class="row p-2 justify-content-center">
        <div class="col-xs-12 col-sm-6">
            <form class="form-inline">
                <div class="form-group">
                    <label for="searchShow" class="control-label p-2">Show to search for</label>
                    <input type="text" class="form-control" id="searchShows"  name="showName" maxlength="50">
                    <button type="submit" class="btn btn-info" id="showSearchButton" >Search Shows</button>
                </div>

            </form>
        </div>
    </div>
    <form action="{{ path('edit_show') }}" id="sendToEdit" hidden>
    </form>
    <form action="{{ path('edit_index') }}" id="sendToIndex" hidden>
    </form>
    <form action="{{ path('audition_details_edit') }}" id="sendToAudition" hidden>
    </form>

    <div class="row p-2">
        <div class="col-1 text-center">
            <button id="addNewShow" class="btn btn-success" onclick="window.location.href='{{ path('show_new') }}'">Add Show</button>
        </div>
    </div>
    {% if returnArray == false %}
        <p id="noShows">No shows found.</p>
    {% else %}
            {% for show in returnArray %}
                    <div class ="row p-2 justify-content-center">
                        <div class="col-xs-3 col-sm-3 ">
                            <h3>{{ show.name }}</h3>
                        </div>
                        <div class="col-xs-9 col-sm-9">
                            <button type="submit" name="archiveId" data-toggle="tooltip" title="Archive" id="archive{{ show.id }}" class="btn btn-danger"  value="{{ show.id }}" form="sendToIndex"><i class="fas fa-minus-square"></i></button>
                            <button type="submit" class="btn btn-primary" id="auditions{{ show.id }}" name="showID" data-toggle="tooltip" title="edit audition details" value="{{ show.id }}" form="sendToAudition"><i class="fas fa-palette"></i></button>
                            <button type="submit" class="btn btn-primary" id="show{{ show.id }}" name="showID" data-toggle="tooltip" title="edit show" value="{{ show.id }}" form="sendToEdit"><i class="fas fa-pencil-alt"></i></button>
                        </div>
                    </div>
            {% endfor %}
    {% endif %}
</div>
{% endblock %}


