{% extends 'base.html.twig' %}
{% block title %}Saskatoon Summer Players{% endblock %}

 {% block stylesheets %}

     <link rel="stylesheet" href="{{ asset('css/home.css') }}" />

 {% endblock %}


{% block body %}
    {#Welcome Picture and text#}
    <div class="jumboContainer">
        <div class="jumbotron jumbotron-fluid">
            <div class="jumboText">
                <h1>Welcome to Saskatoon Summer Players</h1>
                <h4>Saskatoon Summer Players (SSP) is a community-based,
                    non-profit organization that is committed to working with local,
                    volunteer theatre artists to produce high-quality musical theatre
                    in Saskatoon.</h4>
            </div>

        </div>
    </div>

    {#Current Upcoming Show#}
    <div class="container currentShow">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="pb-4 display-3 ">Now Playing</h1>
            </div>
        </div>
        <!-- in rare case where no shows are entered at all (should never happen) show error message-->
        {% if shows is empty %}
            <h1 class="text-center">No shows available at this time.</h1>
        {% else %}
            {% for show in shows|slice(0,1) %}

                <div class="row showCard">
                    <div id="showImgMobile" class="col-sm-12 d-sm-block d-md-block d-lg-none pb-1">
                        <img  class="img-fluid rounded mx-auto d-block shadow-lg p-3 bg-white rounded" src="{{ asset(show.picturePath) }}"/>
                    </div>
                    <div id="showDescription" class="col-sm-12 col-md-12 col-lg-4 showInfo mt-0">
                        <h1 class="showTitle">{{ show.name }}</h1>
                        <span class="bold">Date: </span><span>{{ show.date|date('Y-m-d') }}</span><br/>
                        <span class="bold">Ticket Price: </span><span>${{ show.ticketPrice }}</span><br/>
                        <span class="bold">Location: </span><span>{{ show.location }}</span><br/>
                        <br/><span class="bold">Synopsis: </span><span>{{ show.synopsis }}</span>
                        <form action="{{ show.ticketLink }}" target="_blank">
                            <input type="submit" value="Purchase Tickets" class="btn mt-3" />
                        </form>
                    </div>
                    <div class="col-md-12 col-lg-8 d-none d-lg-block ">
                        <img id="showImgDesktop" class="img-fluid rounded mx-auto d-block shadow-lg p-3 mb-5 bg-white rounded" src="{{ asset(show.picturePath) }}"/>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
