
{% extends 'base.html.twig' %}
{% block title %}New Show{% endblock %}
{% block body %}
    <div class="container">
        <div class="card" id="mainCard">
            <h2 class="card-header text-sm-left text-xs-left">Add a New Show</h2>
            <div class="card-body">
                {{ form_start(form, {'attr': {'id': 'showForm'}}) }}
                <div class="row">
                    <div class="col-xs-12 col-sm-4 text-sm-right">
                        <div class="form-group">
                            {{ form_label(form.name) }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.name) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-4 text-sm-right">
                        <div class="form-group">
                            {{ form_label(form.date) }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.date) }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-4 text-sm-right">
                        <div class="form-group">
                            {{ form_label(form.endDate) }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            {{ form_widget(form.endDate, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.endDate) }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-4 text-sm-right">
                        <div class="form-group">
                            {{ form_label(form.budget) }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            {{ form_widget(form.budget, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.budget) }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-4 text-sm-right">
                        <div class="form-group">
                            {{ form_label(form.ticketPrice) }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            {{ form_widget(form.ticketPrice, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.ticketPrice) }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-4 text-sm-right">
                        <div class="form-group">
                            {{ form_label(form.location) }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="form-group">
                            {{ form_widget(form.location, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.location) }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-2">
                        <div class="form-group">
                            <button type="button" class="btn btn-info" onclick='window.location.href="{{ path('address_new') }}"'>Add a New Location</button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-4 text-sm-right">
                        <div class="form-group">
                            {{ form_label(form.synopsis) }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            {{ form_widget(form.synopsis, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.synopsis) }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-4 text-sm-right">
                        <div class="form-group">
                            {{ form_label(form.pictureFile) }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            {{ form_widget(form.pictureFile, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.pictureFile) }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-4 text-sm-right">
                        <div class="form-group">
                            {{ form_label(form.ticketLink) }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            {{ form_widget(form.ticketLink, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.ticketLink) }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-4 text-sm-right">
                        <div class="form-group">
                            {{ form_label(form.status) }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            {{ form_widget(form.status, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.status) }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-4 text-sm-right">
                        <div class="form-group">

                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" name="submitNewShow">
                                Submit Show
                            </button>
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}</div>
        </div>
        <div class="row justify-content-center p-4">
            <button type="button" class="btn btn-info" onclick='window.location.href="{{ path('edit_index') }}"'>Go Back</button>
        </div>
    </div>

    <style>
        #show_date_date, #show_endDate_date {
            float: left;
            display: inline;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/addEdit_show.js') }}"></script>
{%  endblock %}


