
{% extends 'base.html.twig' %}
{% block title %}New Address{% endblock %}
{% block body %}
    <div class="container">
        <div class="card" id="mainCard">
            <div class="card-header">Create New Address</div>
            <div class="card-body">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-xs-12 col-sm-4 text-sm-right">
                        <div class="form-group">
                            {{ form_label(form.houseApartNum, null, {
                                'label': 'House/Apartment Number'
                            }) }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            {{ form_widget(form.houseApartNum, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.houseApartNum) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-4 text-sm-right">
                        <div class="form-group">
                            {{ form_label(form.streetName, null, {
                                'label': 'Street Name'
                            }) }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            {{ form_widget(form.streetName, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.streetName) }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-4 text-sm-right">
                        <div class="form-group">
                            {{ form_label(form.city, null, {
                                'label': 'City'
                            }) }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            {{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.city) }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-4 text-sm-right">
                        <div class="form-group">
                            {{ form_label(form.province, null, {
                                'label': 'Province'
                            }) }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            {{ form_widget(form.province, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.province) }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-4 text-sm-right">
                        <div class="form-group">
                            {{ form_label(form.postalCode, null, {
                                'label': 'Postal Code'
                            }) }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            {{ form_widget(form.postalCode, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.postalCode) }}
                        </div>
                    </div>
                </div>

                <div class="col-md-6 offset-md-4">
                    <button type="submit" class="btn btn-primary">
                        Submit Location
                    </button>
                </div>
                {{ form_end(form) }}</div>
        </div>
        <div class="row justify-content-center p-4">
            <button type="button" class="btn btn-info" onclick='window.location.href="{{ path('show_new') }}"'>Go Back</button>
        </div>
    </div>

    <style>
        #show_date_date, #show_endDate_date {
            float: left;
            display: inline;
        }
    </style>
{% endblock %}
