/* This css file is only for the homepage because it is the only page that has a separate background image*/
body {
    background: url("../images/curtain.jpg");
    background-size: cover;
    min-height: 100%;
    position: absolute;
    width: 100%;
    padding-bottom: 10em;
}
