body {
    /*padding-top: 100px;*/
    font-size: 18px;
    font-family: 'EB Garamond', serif;
    color: #e2e2e2;
    background-color: #282722;
    min-height: 100%;
    position: absolute;
    width: 100%;
    padding-bottom: 10em;
}

html {
    background-color: #282722;
    color: #e2e2e2;
    background-size: cover;
}

/********* Modals ********************/
.modal-content {
    background-color: #282722;
}

.modal-title {
    font-size: 1.5em;

}

.modal-header, .modal-footer {
    border-bottom-color: #918625;
    border-top-color: #918625;
}

/********** Bold items **************/
.bold {
    font-weight: bold;

}

/****** SSPShow Info and Title *********/
.showTitle {
    margin-top: 40px;

}
.showInfo {
    padding-left: 30px;
}

.currentStatus {
    font-size: 72px;
    padding-top: 15px;
    padding-bottom: 25px;
}

.showCard {
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.7);
    padding-bottom: 1em;
    margin-bottom: 3em;
}

#buttons {
    padding-top: 25px;

}

/****** Images *************/
.img-fluid {
    margin-top: 75px;
}


/******** Member Registration ********/
#memberReg {
    padding-top: 25px;
}

/****************** navbar *****************/

.navbar {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 18px;
}

.nav > .nav-item > .nav-link:hover{
    color: #F2CC00;
}

.nav > .nav-item > .nav-link{
    color: #e2e2e2;
}

.btn{
    background-color: #F2CC00;
    border: 0 transparent;
}

.btn:hover{
    background-color: #cbac00;
    border: 0 transparent;
}

.btn-primary:focus {
    background: #cbac00!important;
    box-shadow: 0 0 2px yellow!important;
    border: 0 transparent;

}

.btn:not(:active) {
    box-shadow: 0 0 2px yellow;
    color: black;
}

.navbar-dark {

    background-color: black;
}

.navbar-brand img {
    height: 4em;
}

.dropdown-item {
    color: #e2e2e2;
}

.dropdown-item:hover {
    color: #e2e2e2;
    background-color: #1d1d1d;
}

.dropdown-header {
    color: #F2CC00;
}

/*********************** Homepage ************************/

/*Welcome Banner*/
.jumbotron {
    background: url('../images/home-banner.jpg') center no-repeat,
    black ;
    background-size: cover;
    min-height: 15em;
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.jumboContainer{
    background: black;
    box-shadow: 0 0 50px 10px black;
}
.jumbotron h4, .jumbotron h1  {
    color: white;
    text-shadow: 0 0 10px #000000;
}
.jumboText {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 20px black;
    font-family: 'Merriweather Sans', sans-serif;

}

.jumboText h4 {
    color: #e2e2e2;
    font-size: 18px;
}

/*Homepage Body*/


/*Footer*/

footer {
    background-color: #000000;
    box-shadow: 0 0 20px 5px black;
    clear: both;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.fab {
    font-size: 50px;
    color: #F2CC00;
}

footer img {
    height: 45px;
    margin-bottom: 30px;
}

/********** Edit Member ***********/
.form-control {
    background-color: #494949;
    border: 0 transparent;
    color: #FFFFFF;

}

.form-control:focus {
    background-color: #b1b1b1;
    color: #1c1b18;
    box-shadow: 0 0 2px yellow;
    border: 0 transparent;
}
#mainCard {
    background-color: #565656;
}

.card-header {
    background-color: #b1b1b1;
    color: #535356;
}

.label, label, #show_pictureFile_file, h3, .currentStatus, .container h1, .row div h2, .row div p{
    color: #FFFFFF;
}





.alert.alert-danger {
    margin-top: .20em;
    padding: .25em .40em;
    background-color: rgb(168, 55, 61);
    color:rgb(220, 211, 214);
    border: 0 transparent;
}


/* Story 17 -- addition of css for this story MK & AR*/
label, ul li, h1, p {
    color: #FFFFFF;
}

#CriminalRecordCheck, #TermsAndConditions {
    color: #F2CC00;
    text-decoration: none;
}
#CriminalRecordCheck:hover, #TermsAndConditions:hover {
    color: #ffe978;
    text-decoration: underline;
}


.card {
    margin-top: 2em;
}

.btn {
    color: black;
}

/********** List Styles *****************/
table tr {
    background-color: transparent !important;
    color: #f0f0f0 !important;

}

table td, thead{
    border: 0 !important;
}

.dataTables_info, .dataTables_paginate {
    color: #939393 !important;
}

.paginate_button {
     background-color: #939393 !important;
 }

a.paginate_button{
     background: #F2CC00 !important;
     border: 1px solid #F2CC00 !important;
}

a.current{
    background: #cbac00!important;
    box-shadow: 0 0 2px yellow!important;
    border: 0 transparent;
}

#DataTables_Table_0_filter {
    padding-top: 7px;
}

input:focus {
    background-color: #989898;
    border: 0;
    border-radius: 3px;
}

#DataTables_Table_0_length > label > select {
    background-color: #989898;
    border: 0;
    border-radius: 3px;
    margin-top: 7px;
}


a#register_link, a#forgotPasswordLink {
    color: #F2CC00;
}
a#register_link:hover, a#forgotPasswordLink:hover {
    color: #ffe978;

}

/* Contact Us */
h4 > a{
    text-decoration: none!important;
    color: white;
}

h4 >a:hover{
    color: #F2CC00;
}


input {
    background-color: #494949;
    border: 0;
    border-radius: 3px;
}



