
{% extends 'base.html.twig' %}
{% block title %}Edit Audition Details{% endblock %}
{% block body %}
    <div class="container">
        
        <div class="card" id="mainCard">
            <h2 class="card-header text-sm-left text-xs-left">Edit Audition Details for {{ show.name }}</h2>
            <div class="card-body">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-xs-12 col-sm-4 text-sm-right">
                        <div class="form-group">
                            {{ form_label(form.auditionDetails) }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            {{ form_widget(form.auditionDetails, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.auditionDetails) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-4 text-sm-right">
                        <div class="form-group">
                            {{ form_label(form.directorMessage) }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            {{ form_widget(form.directorMessage, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.directorMessage) }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-4 text-sm-right">
                        <div class="form-group">
                            {{ form_label(form.howToAudition) }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            {{ form_widget(form.howToAudition, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.howToAudition) }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-4 text-sm-right">
                        <div class="form-group">
                            {{ form_label(form.synopsis) }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            {{ form_widget(form.synopsis, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.synopsis) }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-4 text-sm-right">
                        <div class="form-group">
                            {{ form_label(form.characterSummeries) }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            {{ form_widget(form.characterSummeries, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.characterSummeries) }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-4 text-sm-right">
                        <div class="form-group">
                            {{ form_label(form.noteFromDirector) }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            {{ form_widget(form.noteFromDirector, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.noteFromDirector) }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-4 text-sm-right">
                        <div class="form-group">
                            {{ form_label(form.auditionMaterials) }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            {{ form_widget(form.auditionMaterials, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.auditionMaterials) }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-4 text-sm-right">
                        <div class="form-group">

                        </div>
                    </div>

                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                    <button type="submit" class="col-sm-3 btn btn-primary mx-auto btn-lg" name="submitAuditionDetails">
                        Submit
                    </button>
                    </div>
                </div>
                </div>
                {{ form_end(form) }}</div>
        </div>
        <div class="row justify-content-center p-4">
            <button type="button" class="btn btn-info" onclick='window.location.href="{{ path('edit_index') }}"'>Go Back</button>
        </div>
    </div>

{% endblock %}