
{% extends 'base.html.twig' %}

{% block title %}Audition List{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {

            //Whenever the user selects a new show it submits the form with the selected value, eliminating the need to hit a submit button every time
            $("#selectShow").on('change', function() {
                $(this).closest('form').submit();
            });

            //Initialize the DataTable plugin on the table on the page with the second row (email) sorting disabled.
            $(".table").DataTable( {
                "columnDefs": [
                { "orderable": false, "targets": 1 }
                ]
            });
});
    </script>
{% endblock %}

{% block body %}

<h1 class="text-center">Audition Interest List</h1>

    <div class="container">
        <div class="row">
            <div class="col-sm-2"> </div>
            <div class="col-sm-8">
                <label for="selectShow">Select Show:</label>
                <form action="{{ path('audition_interest_list') }}">
                    <select id="selectShow" name="selectShow" class="form-control">
                        {%  if app.request.get('selectShow') is null %}
                            <option selected>Select a Show...</option>
                        {% endif %}
                        {% for audition_detail in audition_detail_list %}
                            {% if audition_detail.show.id == app.request.get('selectShow') %}
                                <option selected name="showID" value="{{ audition_detail.show.id }}">{{ audition_detail.show.name }}</option>
                            {% else %}
                                <option name="showID" value="{{ audition_detail.show.id }}">{{ audition_detail.show.name }}</option>
                            {% endif %}

                        {% endfor %}
                    </select>
                </form>

            </div>
            <div class="col-sm-2"> </div>
        </div>
        <div class="row">
            <div class="col-sm-2"> </div>
            <div class="col-sm-8">
                {%  if audition_detail is not null %}
                <table class="table">
                    <thead>
                    <tr class="">
                        <th>Name</th>
                        <th>Email</th>
                    </tr>

                    </thead>
                    <tbody>


                        {% if audition_detail.membersAuditioned.count == 0 %}

                            <!--
                            If the selected show does not have any audition details then display this message.
                            Otherwise display the items from the membersAuditioned list
                            -->
                            <tr>
                                <td colspan="2" class="text-center">
                                    No audition requests for this show.
                                </td>
                            </tr>

                        {% else %}
                            {% for member in audition_detail.membersAuditioned %}
                                <tr>
                                    <td>{{ member.lastName ~ ", " ~ member.firstName}}</td>
                                    <td class="">{{ member.username }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}


                    </tbody>
                </table>
                {% endif %}
            </div>
            <div class="col-sm-2"> </div>
        </div>
    </div>
{% endblock %}
