{% extends 'base.html.twig' %}
{% block title %}Audition Details for {{  show.name }}{% endblock %}
{% block body %}
<div class="container pt-1 pt-lg-5">

    {%  if audition_detail is null %}
        <div class="col-12">
            <img class="img-fluid rounded mx-auto d-block shadow-lg bg-white rounded" src="{{ asset(show.picturePath) }}"/>
            <h2 class="text-center">There is currently no audition information for {{  show.name }}. Check back soon!</h2>
        </div>
    {% else %}
        <div class="row justify-content-center">
        <div class="col-12">
            <h1 class="display-4 text-center">Audition Details for {{  show.name }}</h1>

        </div>
    </div>
        <div class="row showCard p-sm-1 p-lg-5">
            <div id="showImgMobile" class="col-sm-12 d-sm-block d-md-block d-lg-none pb-5">
                <img  class="img-fluid rounded mx-auto d-block shadow-lg p-3 bg-white rounded" src="{{ asset(show.picturePath) }}"/>
            </div>
            <div id="showDescription" class="col-sm-12 col-md-12 col-lg-4 showInfo mt-0">
                {% if already_auditioned %}
                    <span>Thank you for applying to audition!</span>
                {% else %}
                    <form action="{{ path('audition_to_db') }}">
                        <button id="show9" type="submit" class="btn btn-primary" name="showID" value="{{ audition_detail.show.id }}">Notify me About Auditions</button>
                    </form>


                {% endif %}

                {% if audition_detail.getAuditionDetails %}
                    <br/><span class="bold">Audition Details: </span></br><span>{{ audition_detail.getAuditionDetails }}</span>
                {% endif %}
                {% if audition_detail.getDirectorMessage %}
                    <br/><span class="bold">Director's Message: </span></br><span>{{ audition_detail.getDirectorMessage }}</span>
                {% endif %}
                {% if audition_detail.getSynopsis %}
                    <br/><span class="bold">Synopsis: </span></br><span>{{ audition_detail.getSynopsis  }}</span>
                {% endif %}
                {% if audition_detail.getCharacterSummeries %}
                    <br/><span class="bold">Character Summaries: </span></br><span>{{ audition_detail.getCharacterSummeries }}</span>
                {% endif %}
                {% if audition_detail.getNoteFromDirector %}
                    <br/><span class="bold">Note from Director: </span></br><span>{{ audition_detail.getNoteFromDirector }}</span>
                {% endif %}
                {% if audition_detail.getAuditionMaterials %}
                    <br/><span class="bold">Audition Materials: </span></br><span>{{ audition_detail.getAuditionMaterials }}</span>
                {% endif %}
            </div>
            <div class="col-md-12 col-lg-8 d-none d-lg-block">
                <img id="" class="d-block shadow-lg p-3 bg-white rounded" src="{{ asset(show.picturePath) }}"/>
            </div>
        </div>
    {% endif %}
</div>

{% endblock %}