{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}
    <div class="jumboContainer">
        <div class="jumbotron jumbotron-fluid">
            <div class="jumboText">
                <h1>Log In</h1>
            </div>
        </div>
    </div>

    {% if justRegistered %}
        <!-- Modal if you just logged in -->
        <div class="modal fade" id="justRegisteredModal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLongTitle">Registration Successful</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">Welcome to Saskatoon Summer Players. You can now log in using your account.</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}


    <div class="container">
        {{ form_start(form, {'action': path('login_check'), 'method': 'POST','attr': {'id': 'loginForm'}}) }}
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <div class="card" id="mainCard">
                    <h2 class="card-header text-sm-left text-xs-left">Log In</h2>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 text-sm-right">
                                <div class="form-group">
                                    {{ form_label(form._username) }}
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    {{ form_widget(form._username, {'attr': {'onkeyup': 'this.value = this.value.toLowerCase()', 'class' : 'form-control'}}) }}
                                    {% for errorItem in form._username.vars.errors %}
                                        <div class="alert alert-danger">{{ errorItem.message }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 text-sm-right">
                                <div class="form-group">
                                    {{ form_label(form._password) }}
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    {{ form_widget(form._password, {'attr': {'class': 'form-control'}}) }}
                                    {% for errorItem in form._password.vars.errors %}
                                        <div class="alert alert-danger">{{ errorItem.message }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-4 text-sm-right">
                                <div class="form-group">

                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary mx-auto btn-lg" id="login">Log In</button>
                                </div>
                            </div>
                        </div>
                        {{ form_end(form) }}

                        {% if error %}
                            <div id="invalid_credentials" class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        <div class="card-footer">
                            <div class="d-flex justify-content-center links">
                                Don't have an account?&nbsp;<a href="{{ path('member_new') }}" id="register_link" name="register">Sign Up</a>
                            </div>
                            <div class="d-flex justify-content-center links">
                                <a href="{{ path('password_reset') }}" id="forgotPasswordLink" name="forgotPassword">Forgot your password?</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/login.js') }}"></script>
{% endblock %}