{% extends 'base.html.twig' %}

{% block title %}ContactSSP{% endblock %}

{% block body %}
    <div class="jumboContainer">
        <div class="jumbotron jumbotron-fluid">
            <div class="jumboText">
                <h1>Contact Us</h1>
            </div>
        </div>
    </div>
    <div class="container">
        {{ form_start(form, {'attr': {'id': 'contact_ssp'}} ) }}
        <script>
            function focusPhonePrefix(id) {
                // var phone = document.getElementById(id);
                //
                // if (phone.value.length === 0) {
                //     phone.value = '(';
                // }
            }

            function blurPhonePrefix(id) {
                var phone = document.getElementById(id);

                if (phone.value === '(') {
                    phone.value = '';
                }
            }

            function keyPress(e, id) {
                var phone = document.getElementById(id);

                if (phone.value.length === 0) {
                    phone.value = '(';
                } else {
                    var prefix = phone.value.slice(0, 1);
                    if (prefix !== '(') {
                        phone.value = '(' + phone.value;
                    }
                }

                if (e.key !== "Backspace") {
                    if (phone.value.length === 4) {
                        phone.value = phone.value + ')';
                    }
                    if (phone.value.length === 5) {
                        phone.value = phone.value + ' ';
                    }
                    if (phone.value.length === 9) {
                        phone.value = phone.value + '-';
                    }
                }
            }
        </script>
        <div class="row justify-content-center mt-5">
            <div class="col-sm-4 border border-left-0 border-top-0 border-bottom-0">
                <h2>Address</h2>
                <h4>PO Box 21085</h4>
                <h4>Saskatoon, SK S7H 5N9 Canada</h4>
            </div>
            <div class="col-sm-4 border border-left-0 border-top-0 border-bottom-0">
                <h2>Call Us</h2>
                <h4><a class="link-unstyled" href="tel:1-306-380-0298">1.306.380.0298</a></h4>
            </div>
            <div class="col-sm-4">
                <h2>Email</h2>
                <h4><a href="mailto:contactssp@saskatoonsummerplayers.ca">contactssp@saskatoonsummerplayers.ca</a></h4>
            </div>
        </div>



    <div class ="row justify-content-center">
        <div class="col-sm-12">
            <div class="card" id="mainCard">
                <h2 class="card-header text-sm-left text-xs-left">Contact Us</h2>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 text-sm-right">
                            <div class="form-group">
                                {{ form_label(form.name, null, {
                                    'label': 'Name'
                                }) }}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                                {% for errorItem in form.name.vars.errors %}
                                    <div class="alert alert-danger" id="form-error">{{ errorItem.message }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 text-sm-right">
                            <div class="form-group">
                                {{ form_label(form.email, null, {
                                    'label': 'Email'
                                }) }}
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                {{ form_widget(form.email, {'attr': {'class': 'phone-group form-control'}}) }}
                                {% for errorItem in form.email.vars.errors %}
                                    <div class="alert alert-danger" >{{ errorItem.message }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 text-sm-right">
                            <div class="form-group">
                                {% set phone  %}
                                    {{ 'phone' }}
                                {% endset %}
                                {{ form_label(form.phone, null, {
                                    'label': 'Phone'
                                }) }}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                   {{ form_widget(form.phone, {'attr': {
                                    'class': ' phone-group form-control',
                                    'onfocus': 'focusPhonePrefix("contact_ssp_phone")',
                                    'onblur':'blurPhonePrefix("contact_ssp_phone")',
                                    'onkeypress':'keyPress(event, "contact_ssp_phone")',
                                    'maxlength':14 }}) }}
                                {% for errorItem in form.phone.vars.errors %}
                                    <div class="alert alert-danger">{{ errorItem.message }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>{# Phone Row end #}
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 text-sm-right">
                            <div class="form-group">
                                {{ form_label(form.subject, null, {
                                    'label': 'Subject'
                                }) }}
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                {{ form_widget(form.subject, {'attr': {'class': 'form-control'}}) }}
                                {% for errorItem in form.subject.vars.errors %}
                                    <div class="alert alert-danger">{{ errorItem.message }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 text-sm-right">
                            <div class="form-group">
                                {{ form_label(form.comments, null, {
                                    'label': 'Comment'
                                }) }}
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                {{ form_widget(form.comments, {'attr': {'class': 'form-control'}}) }}
                                {% for errorItem in form.comments.vars.errors %}
                                    <div class="alert alert-danger">{{ errorItem.message }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 text-sm-right">
                            <div class="form-group">

                            </div>
                        </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <button type="submit" class="col-sm-3 btn btn-primary mx-auto btn-lg" id="sendContact">Submit</button>
                        </div>
                    </div>
                </div> {# This is Second Card Body#}
            </div>{# Card #}
        </div>{# Columns #}
    </div> {# Row container #}

    </div>{# Main container#}
    </div>
    <!--Contact us Modal to be shown on successful contact submission -->
    {% if contactUsRequest %}
        <!-- Modal -->
        <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLongTitle">Contact Us</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Thank you for contacting us!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {{ form_end(form) }}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/contact_us.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('#sendContact').onsubmit(function() {
                $('#contactModal').modal();
            });
        });
    </script>
{%  endblock %}